
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


@media (min-width: 320px) and (max-width:500px){
  img{
    width:31.94px;
    height:32.94px;
   
  }
  #chessdiv{
    width:350px;
    
    
  }
  #makerCredit{
    margin-top: 15px;
  }
  #takenPieces{
    display:none;
  }
  #trackerDiv{ 
    height: 350px;
    overflow-y: scroll;
    display:flex; 
   
   
  }
  #stickyTH{
    position: static;
   
  }
}



@media (min-width:500px) and (max-width: 768px){
  img {
    width:37.75px;
    height:37.75px;
    
  }
  #chessdiv{
    width:430px;
  }
  #trackerDiv{
    overflow-y: scroll;
    display:flex; 
    height: 350px;
    
  }
  #stickyTH{
    
    position:sticky;
    top:0px;
  }

}
@media (min-width:769px) and (max-width: 991px){
  img {
    width:40.75px;
    height:44.75px;
    
  }
  #chessdiv{
    width:490px;
  }
  #trackerDiv{
    overflow-y: auto;
    display:flex;
    height: 400px;
   
      display: flex;
    flex-direction: column-reverse;
  }
  #stickyTH{
    
    position:sticky;
    top:0px;
  }
}
@media (min-width: 992px) and (max-width: 1440px){
  img {
    width:44.75px;
    height:45.75px;
    
  }
  #chessdiv{
    width:500px;
  }
  #makerCredit{
    margin-top: 10%;
  }
  #stickyTH{
    
    position:sticky;
    top:0px;
  }
}

@media (min-width:1441px) and (max-width: 2560px){
  img {
    width:44.75px;
    height:45.75px;
    
  }
  #chessdiv{
    width:500px;
  }
  #makerCredit{
    margin-top: 10%;
  }
  #stickyTH{
    
    position:sticky;
    top:0px;
  }


}




 

  
  

 